<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>Index</title>
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
    </head>
    
    <body>
        <form method="POST" class="post-form" action="/update/{{Blogs.id}}">
            {% csrf_token %}
            <center>
            <form class="row g-3">
           <div class='container row'>
                <br>
               
                  <div class="col-sm-12">
                    <h3>Update Details</h3>

                  </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-6">
                    <label class ='form-label'>Blog Id:</label>
                        <input type ='text' class='form-control'name ='Blog_ID' id='id_Blog_ID' required maxlength='10' value="{{Blogs.Blog_ID}}"/>
                    </div>
               
                    <div class="col-md-6">
                    <label class='form-label'>Blog Title:</label>
                        <input type='text' class="form-control" name='BlogTitle' id='id_BlogTitle' required maxlength='100' value="{{Blogs.BlogTitle}}"/>
                    </div>
                </div>
                </div>
                <br>
                <div class="form-floating">
                <div class="col-md-6">
                    <label class='form-label'>Blog Description:</label>
                    <textarea class="form-control" name='Description'  id="id_Description" style="height: 100px" required maxlength='5000' value="{{Blogs.Description}}"
    ></textarea>
                    </div>
                    </div>
                
            <div class='col-md-6'>
                        <label class ="form-label">Author:</label>
                        
                            <input type='text' class='form-control'name="Author" id='id_Author' required maxlength='50' value="{{Blogs.Author}}"/>
                        </div>
                    </div>
                    </div>
                    <div class='col-sm-6'>
                        <label class='form-label'>Date: </label>
                      
                            <input type='text' class='form-control'name='Date' id='id_Date' required maxlength='15' value="{{Blogs.Date}}"/>
                        </div>
                    </div>
                    </div>
                    <br>
                    <center>
                    <div class="col-sm-4">
                        <label class='form-label'></label>
                       <button type='submit' class='btn btn-success'>Update</button>
                    </center>
                </center>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
            </form>
        </body>
        </html>

    